@font-face {
    font-family: Sansation-Regular;
    src: url(./Sansation/Sansation-Regular.woff2);
}

html {
    min-height: 100%;
}

ul{
     list-style-type:none;
     margin: 0;
     padding: 0;
}

a {text-decoration: none;}
a:hover {text-decoration: none; color: #9ADCFF;}

body {
    font-family: Sansation-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    background: linear-gradient(180deg, #570530 0%, rgba(224, 221, 170, 0.92) 100%);
}

.body-container {
    width: 1400px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 48px;
    margin-top: 26px;
    letter-spacing: 0.1em;
}

.header-heading {
    filter: drop-shadow(8px -8px 5px rgba(255, 171, 118, 0.53));
    text-decoration: none;
    color: #FFFDA2;
}

.colored-sign {
    color: #1B4CCA;
}

.current-link {
    text-decoration: underline;
}